# [terminal]
# shell = "wsl"

[general]
live_config_reload = true

[selection]
save_to_clipboard = false

[env]
TERM = "alacritty" # needed for undercurl

[window]
decorations = "full"
opacity = 1
decorations_theme_variant = "Dark"
startup_mode = "Windowed"
dynamic_padding = true
padding.x = 0
padding.y = 0
title = "alacritty"
resize_increments = true
dynamic_title = true
option_as_alt = "Both"

[window.dimensions]
columns = 1
lines = 1

# HACK: set initial window positions off the screen to avoid white flash
[window.position]
x = 2000
y = 2000

[font]
size = 11
normal = { family = "JetBrainsMono Nerd Font", style = "Regular" }
bold = { family = "JetBrainsMono Nerd Font", style = "Bold" }
italic = { family = "JetBrainsMono Nerd Font", style = "Italic" }
bold_italic = { family = "JetBrainsMono Nerd Font", style = "Bold Italic" }
builtin_box_drawing = true
# normal = { family = "CaskaydiaCove Nerd Font", style = "SemiLight" }
# bold = { family = "CaskaydiaCove Nerd Font", style = "Bold" }
# italic = { family = "CaskaydiaCove Nerd Font", style = "Italic" }
# bold_italic = { family = "CaskaydiaCove Nerd Font", style = "Bold Italic" }

[font.offset]
x = -1
y = 4

[font.glyph_offset]
x = 0
y = 4

[colors.primary]
foreground = '#C9C9C9'
background = '#0F0F0F'

[colors.normal]
black = '#1D1D1D'
blue = '#88A3BC'
cyan = '#8992A7'
green = '#8A9A7B'
magenta = '#A292A3'
red = '#C4746E'
white = '#C9C9C9'
yellow = '#C8AE81'

[colors.bright]
black = '#898989'
blue = '#2D4F67'
cyan = '#949FB5'
green = '#98BB6C'
magenta = "#5f5f87"
red = '#C34043'
yellow = '#FF9E3B'
white = '#FFFFFF'

[colors]
cursor = { text = "CellBackground", cursor = "#ffffff" }
transparent_background_colors = false
draw_bold_text_with_bright_colors = false
vi_mode_cursor.cursor = "#0539A3"
selection = { text = "CellForeground", background = "#2E2E2E" }
footer_bar.background = "#0f0f0f"
footer_bar.foreground = "#ffffff"
line_indicator.background = "#0f0f0f"
line_indicator.foreground = "#ffffff"

[cursor]
vi_mode_style = { shape = "Block", blinking = "Never" }
# default = { text = "CellBackground", cursor = "CellForeground" }
# (changes cursor color depending on text color)

[mouse]
hide_when_typing = false
bindings = [{ mouse = "Right", action = "Paste" }]

[keyboard]
bindings = [
  { key = "\uE05F", chars = "None" }, # vol up
  { key = "\uE05E", chars = "None" }, # vol down
  { key = "\uE060", chars = "None" }, # mute

  { key = "Backspace", mods = "Command", chars = "\u001B\u007F" }, # clear the line (send meta-backspace)
  { key = "Return", mods = "Shift", chars = "\u001B[13;2u" },
  { key = "Backspace", mods = "Shift", chars = "\u001B[27;2;8~" },

  # ctrl BINDINGS

  # ACTIONS
  # { key = "L", mods = "Control|Shift", action = "SelectNextTab" },
  # { key = "H", mods = "Control|Shift", action = "SelectPreviousTab" },
  # { key = "T", mods = "Control|Shift", action = "CreateNewTab" },
  # { key = "N", mods = "Control|Shift", action = "CreateNewTab" },
  { key = "W", mods = "Control|Shift", action = "Quit" },
  # { key = "M", mods = "Command|Shift", action = "ToggleFullscreen" },
  { key = "M", mods = "Control", action = "ToggleViMode" },

  # ENABLING KEY COMBOS
  { key = "Q", mods = "Control|Alt", chars = "\u0011" },
  { key = "Q", mods = "Control|Shift", chars = "\u001B[27;6;17~" },
  { key = "J", mods = "Control|Shift", chars = "\u001B[27;6;74~" },
  { key = "K", mods = "Control|Shift", chars = "\u001B[27;6;75~" },
  { key = "Z", mods = "Control|Shift", chars = "\u001B[27;6;90~" },
  { key = "A", mods = "Control|Shift", chars = "\u001B[27;6;1~" },
  { key = "R", mods = "Control|Shift", chars = "\u001B[27;6;18~" },
  { key = "S", mods = "Control|Shift", chars = "\u001B[27;6;19~" },
  { key = "O", mods = "Control|Shift", chars = "\u001B[27;6;15~" },
  { key = "?", mods = "Control|Shift", chars = "\u001B[27;6;47~" },
  { key = "V", mods = "Control|Shift", chars = "\u001B[86;6~" },
  { key = "C", mods = "Control|Shift", chars = "\u001B[27;6;67~" },
  { key = "Tab", mods = "Control|Shift", chars = "\u001b[27;6;9~" },  # sends <C-S-Tab>
  { key = "Slash", mods = "Control", chars = "\u001f" },
  { key = "H", mods = "Control", chars = "\u001B[104;5u" },
  { key = "Space", mods = "Control", chars = "\u001B[32;5u" },
  { key = "[", mods = "Control", chars = "\u001b[1;6;10~" },          # this sends <S-BS>, i use to unindent. doesn't break <ESC>
  { key = "I", mods = "Control", chars = "\u001B[105;5u" },
  { key = "Tab", mods = "Control", chars = "\u001b[27;5;9~" },        # sends <C-Tab>
  { key = "Return", mods = "Control", chars = "\u001B[13;5u" },
  { key = "Period", mods = "Control", chars = "\u001b[27;5;46~" },
  { key = "Backspace", mods = "Control", chars = "\u0017" },          # sends <C-w>
  { key = "Semicolon", mods = "Control", chars = "\u001b[27;5;59~" }, # This sends regular :, to go to vim cmdline
  # { key = "H", mods = "Control|Shift", chars = "\u001B[27;6;72~" },
  # { key = "L", mods = "Control|Shift", chars = "\u001B[27;6;76~" },
  # { key = "T", mods = "Control|Shift", chars = "\u001B[27;6;20~" },


  { key = "Comma", mods = "Control", command = { program = "alacritty", args = [
    "--command",
    "nvim ~/AppData/Roaming/alacritty/alacritty.toml",
  ] } },
]

# https://en.wikipedia.org/wiki/List_of_Unicode_characters

# "\u0018" sends <C-x>
# "\u0010" sends <C-P>
# "\u000D" sends <C-m>

# NOTE: "\x1b[27;5;9~" became "\u001b[27;5;9~"
# and "\x1b[27;6;9~" became "\u001b[27;6;9~"
